<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <!-- <link rel="stylesheet" href="./public/css/jass.css" /> -->
    <link rel="stylesheet" href="/css/style.css" />
    <title>MVC Tech Blog</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {{#if logged_in}}
          <li class="menu"><a href="/" id="homepage">Home</a></li>
          <li class="menu"><a href="/dashboard" id="dashboard">Dashboard</a></li>
          <li class="menu"><button id="logout">Logout</button></li>
          {{else}}
          <li class="menu"><a href="/" id="homepage">Home</a></li>
          <li class="menu"><a href="/dashboard" id="dashboard">Dashboard</a></li>
          <li class="menu"><a href="/api/users/login" id="login">Login</a></li>
          {{/if}}
          {{!-- <li class="menu"><a href="/api/users/logout" id="logout">Logout</a></li> --}}
        </ul>
      </nav>
      <h1>The Tech Blog</h1>
    </header>
    <main>
      {{{ body }}}

      {{!-- dashboard page --}}
      {{!-- login page --}}
      {{!-- signup page --}}
      {{!-- blog-page --}}
      {{!-- create-blog page --}}
      {{!-- edit-blog page --}}
        
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>
