<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <!-- <link rel="stylesheet" href="./public/css/jass.css" /> -->
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>MVC Tech Blog</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="menu"><a href="#">Home</a></li>
          <li class="menu"><a href="#">Dashboard</a></li>
          <li class="menu"><a href="#">Login</a></li>
          <li class="menu"><a href="#">Logout</a></li>
        </ul>
      </nav>
      <h1>The Tech Blog</h1>
    </header>
    <main>
      {{!-- blog post page --}}

      {{!-- login page --}}

      {{!-- signup page --}}

      {{!-- dashboardpage --}}

      {{!-- singleblogpage --}}
      <section id="singleBlog">
        <div class="sectionHead blogTitleAndTime" id="blogTitleAndTime">
          <h2>Blog Title</h2>
          <p>Posted by: name and date</p>
        </div>
        <div class="blogTextArea" id="blogTextArea">
          <p>Blog Post Text Area</p>
        </div>
      </section>
      {{!-- comment page --}}
             
    </main>
  </body>
</html>
