<section>
        <div class="flex">
          <div id="commentArea">
            <form class="flex form">
              <div class="formInput flex">
                <label for="comment" class="form-label">Comment</label>
                <textarea
                  name="commentArea"
                  id="commentArea"
                  cols="100"
                  rows="10"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </section>
{{!-- write comment.js --}}
<script src="/js/comment.js"></script>
