<section id="createBlog">
    <div>
      <h2 class="sectionHead">New Blog</h2>
    </div>
          {{!-- create a blog form --}}
          <form class="flex form blog-form">
            <div class="formInput flex">
              <label for="title" class="form-label">Title</label>
              <input type="text" id="blogTitle">
              <label for="content" class="form-label">Content</label>
              <textarea
                name="blogContent"
                id="blogContent"
                cols="80"
                rows="10"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="createBlogSave">Save</button>
          </form>
</section>
{{!-- write blog.js --}}
<script src="/js/blog.js"></script>
