<section id="dashboardPage">
        <h2 class="sectionHead">Dashboard</h2>
        {{#if blogs}}
          {{#each blogs as |blog| }}
            <section id="blogPost">
                <div class="sectionHead blogTitleAndTime" id="blogTitleAndTime">
                      <h2>{{title}}</h2>
                      <p>Posted by: {{blog.user.username}} on {{createdAt}}</p>
                    </div>
                    <div class="blogTextArea" id="blogTextArea">
                      <p>{{content}}</p>
                    </div>
                    {{!-- Need to style these 3 buttons to be a consistent look --}}
                    <div class="dashFeatureBtns">
                      <a class="featureBtn" href="/api/blogs/blog-page">Show this blog</a>
                      <a class="featureBtn" href="/api/blogs/edit-blog">Edit this blog</a>
                      <button class="featureBtn" id="deleteBlogBtn">Delete the blog</button>
                    </div>        
            </section>
          {{/each}}
        {{/if}}

        <div class="flex">
          <button class="btn newPostBtn"><a class="createBlogBtn" href="/api/blogs/create-blog">+ New Post</a></button>
        </div>
</section>
{{!-- write dashboard.js --}}
<script src="/js/dashboard.js"></script>
