{{#each blogs as |blog| }}
<section id="blogPost">
  <a href="/blog">
    <div class="sectionHead blogTitleAndTime" id="blogTitleAndTime">
          <h2>{{blog.title}}</h2>
          <p>Posted by: {{blog.author}} and {{blog.created_date}}</p>
        </div>
        <div class="blogTextArea" id="blogTextArea">
          <p>{{blog.content}}</p>
        </div>
        <button><a href="./partials/blog-details.handlebars">{{> blog-details}}</a></button>
  </a>        
</section>
{{/each}}
