{{#each blogs as |blog| }}
<section id="blogPost">
        <div class="sectionHead blogTitleAndTime" id="blogTitleAndTime">
          <h2>{{blog.title}}</h2>
          <p>Posted by: {{blog.author}} and {{blog.created_date}}</p>
        </div>
        <div class="blogTextArea" id="blogTextArea">
          <p>{{blog.content}}</p>
        </div>
</section>
{{/each}}
