<section id="loginPage">
        <h2 class="sectionHead">Login</h2>
        <form class="flex form login-form">
          <div class="formInput flex">
            <label for="userName" class="form-label">Username</label>
            <input type="username" class="form-control" id="username_login" />
          </div>
          <div class="formInput flex">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password_login" />
          </div>
          <button type="submit" class="btn btn-primary" id="btn_login">Login!</button>
          <p><a href="./signup" id="redirect_signup">Sign up instead</a></p>
        </form>
</section>
{{!-- double check the script part --}}
<script src="/js/login.js"></script>
