 <section id="signupPage">
        <h2 class="sectionHead">Sign Up</h2>
        <form class="flex form">
          <div class="formInput flex">
            <label for="userName" class="form-label">Username</label>
            <input type="username" class="form-control" id="username_signup" />
          </div>
          <div class="formInput flex">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password_signup" />
          </div>
          <button type="submit" class="btn btn-primary" id="btn_signup">Sign Up!</button>
          <p><a href="#loginPage" id="redirect_login">Login instead</a></p>
        </form>
</section>
{{!-- write signup.js --}}
<script src="/js/signup.js"></script>
